<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="navbar">
    <div class="logo"> Todo Dashboard</div>
    <nav>
        <a href="/">Home</a>
        <a href="/add-todo">Add Todo</a>
    </nav>
</header>

<div class="main-container">