<%- include("partials/header") %>

<div class="delete-box">
    <h2>⚠ Are you sure?</h2>

    <div class="delete-actions">
        <a href="/confirm-delete?id=<%= id %>&confirm=yes" class="btn delete">
            Yes, Delete
        </a>

        <a href="/" class="btn cancel">
            Cancel
        </a>
    </div>
</div>

<%- include("partials/footer") %>