<%- include("partials/header") %>

<div class="form-wrapper">
  <h2 class="page-title">➕ Add New Task</h2>

  <a href="/" class="back-btn">← Back</a>

  <form action="/add-todo" method="POST" class="form-card">
    <div class="form-group">
      <label>Title</label>
      <input
        type="text"
        name="title"
        placeholder="Type todo here"
        required
      />
    </div>

    <div class="form-group">
      <label>Description for long thing</label>
      <textarea
        name="desc"
        placeholder="Type description here"
      ></textarea>
    </div>

    <button type="submit" class="btn primary-btn">
      Save Task
    </button>
  </form>
</div>

<%- include("partials/footer") %>